body {
    background: green;  
}

nav {
    border: solid;
    border-color: black;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    /* font-family: 'Playball', cursive; */
}

span {
    font-size: 100px;
}

main {
    display: flex;
    /* align-items: center; */
    height: 90%;
    /* justify-content: center; */
    flex-direction: column;
}

button {
    width: 5em;
    height: 3em;
    font-size: 25px;
    margin-top: 1em;
}